@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="">@ViewData["Title"]</h1>
<div class="w-full h-full flex justify-center mt-40">
    <section class=" col-md-4">
        <form id="account" method="post">
            <h2>Use a local account to log in.</h2>
            <div asp-validation-summary="ModelOnly" class="text-red-600"></div>
            <div class="">
                <label asp-for="Input.Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input asp-for="Input.Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                       autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.Email" class="text-red-600"></span>
            </div>
            <div class="">
                <label asp-for="Input.Password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input asp-for="Input.Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autocomplete="current-password" aria-required="true"/>
                <span asp-validation-for="Input.Password" class=""></span>
            </div>
            <div>
                <div class="">
                    <label asp-for="Input.RememberMe" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        <input class="" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div>
                <button id="login-submit" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Log in</button>
            </div>
            <div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
