
@model IEnumerable<CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Cart</h1>

<form asp-action="Purchase" method="post">
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Product Name
            </th>
            <th scope="col" class="px-6 py-3">
                Price
            </th>
            <th scope="col" class="px-6 py-3">
                Quantity
            </th>
        </tr>
        </thead>
        <tbody>
        
        @if( Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr class="bg-gray-800">
                            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                                @item.Product.Name
                            </th>
                            <td class="px-6 py-4">
                                @item.Product.Price$
                            </td>
                            <td class="px-6 py-4">
                                @item.Quantity
                            </td>
                            <input type="hidden" name="products[@item.Product.Id]" value="@item.Quantity"/>
                        </tr>
                    }
                }
                else
                {
                    <tr class="bg-gray-800 w-full" >
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                            No items in cart
                        </th>
                    </tr>
                }
        
        </tbody>
    </table>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Purchase</button>
</div>
</form>

