@model IEnumerable<WebApplication1.Models.Product>

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>